.homeContainer {
  display: grid;
  gap: 3.2rem;
  padding: 5.4rem 0;
}

.selectorContainer {
  display: flex;
}

.gotchiContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.gotchiContainer img {
  max-height: 33rem;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .homeContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
